.darkTheme {
    background-color: #343a40 !important;
    color: white !important;
}

.lightTheme {
    background-color: #eee !important;
    color: black !important;
}

.lightTheme .form-control:disabled {
    background-color: darkgray;
}

.darkTheme .form-control:disabled {
    background-color: gray;
}
